<mat-card class="alert-card">
  <mat-card-header>
    <mat-card-title>{{formatDate(alert!.createdDate)}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content-row">
      <h3>Product name: <b>{{alert?.product?.name}}</b></h3>
      <p class="icon-box-p">Product Id: {{alert?.product?.id}}</p>
    </div>
    <div class="content-row">
      <h3>Store name: <b>{{alert?.store?.name}}</b></h3>
      <p class="icon-box-t">Store Id: {{alert?.store?.id}}</p>
    </div>
    <h3>Store direction: <b>{{alert?.store?.address}}</b></h3>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <button mat-button (click)="openDialog()">
      Resolve
    </button>
  </mat-card-actions>
</mat-card>
