<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="body" [ngClass]="getBodyClass()">
  <div class="grid grid-cols-1 justify-stretch sm:grid-cols-8 gap-4">
    <h1 class="text-xl text-gray-600 flex flex-1 col-span-7">Inventory</h1>
    <button
      (click)="openAddEditEmpForm()"
      class="bg-green-400 justify-center text-white font-bold rounded hover:bg-green-500 flex items-center gap-2 py-2 px-2 col-span-1"
    >
      CREATE PRODUCT
    </button>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-4 px-1 py-8"
  >
    <div *ngFor="let prod of products">
      <mat-card class="rounded-lg overflow-hidden mx-auto py-4 h-full">
        <div class="w-32 h-32 mx-auto overflow-hidden rounded-full">
          <img
            mat-card-image
            src="../../../assets/store.jpeg"
            alt="Profile image"
            class="object-cover w-full h-full"
          />
        </div>
        <mat-card-title class="text-center text-xl py-2">{{
          prod.name
        }}</mat-card-title>
        <div class="text-left text-gray-600 break-words p-5">
          <div class="h-32">
            <h3><b>Description:</b></h3>
            <p>{{ prod.description }}</p>
          </div>
          <div>
            <h3><b>Amount: </b></h3>
            <p>{{ prod.amount }}</p>
          </div>
          <div>
            <h3><b>Temperature: </b></h3>
            <p>{{ prod.temperature }}º</p>
          </div>
        </div>
        <mat-card-actions class="justify-center mt-4">
          <div class="flex flex-col items-center gap-2 py-2">
            <ng-container> </ng-container>
            <ng-container>
              <button
                class="bg-green-500 text-white px-4 py-2 rounded-lg w-full mb-2"
                (click)="openEditForm(prod)"
                (click)="getProductSelect(prod.id)"
              >
                EDIT
              </button>
            </ng-container>
            <ng-container>
              <button
                class="bg-red-500 text-white px-4 py-2 rounded-lg w-full"
                (click)="deleteProduct(prod)"
              >
                DELETE
              </button>
            </ng-container>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
